<!DOCTYPE html>
<html>
<head>
        <style>
                #newIShow,#newIHide {
                        cursor: pointer;
                }
        </style>
        <script src="scripts/angular-min.js"></script>
        <script src="scripts/script.js"></script>
</head>
<body ng-app="myApp">
<p><h2>Input a number that you want</h2></p>
<div  ng-controller="myCtrl">
        Number: <input id="input" type="number" ng-model="number">
        <input type="button" ng-click="truncate()" value="Truncate"/>
                <br>
                <br>
        <i style="font-size:12px;">Original Text:</i>
        <p id="myText">{{text}}</p> <br>
        <i style="font-size:12px;">Truncated Text:</i>
        <div>
                <dr-truncate-link link="scripts/about.html" number=50  text="text" more="show" less="hide"></dr-truncate-link>
        </div>
        <div>
                <p>{{text2}}</p><br>
              <p>  {{text2|truncateLink:25}}</p>
        </div>
</div>
</body>
</html>
