.myclass{
    font-size: 15px;
   
}
.myclass2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wordForTruncate{
    font-style: oblique;
    color: red;
}

a {
    text-decoration: none;
}
a:hover{
    color: #B90413;
    text-decoration: none;
}